@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 226 44% 7%;
    --foreground: 231 48% 94%;
    --card: 222 42% 18%;
    --card-foreground: 231 48% 94%;
    --popover: 222 42% 18%;
    --popover-foreground: 231 48% 94%;
    --primary: 190 100% 50%;
    --primary-foreground: 226 44% 7%;
    --secondary: 210 20% 60%;
    --secondary-foreground: 226 44% 7%;
    --muted: 222 46% 14%;
    --muted-foreground: 210 20% 60%;
    --accent: 190 100% 50%;
    --accent-foreground: 226 44% 7%;
    --destructive: 0 84% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 221 37% 26%;
    --input: 221 37% 26%;
    --ring: 190 100% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}